<div class="container">
  <div class="d-flex align-content-center mb-2 justify-content-between">
    <h3 class="mb-1">Пользователи проекта</h3>
    <button mat-flat-button
            class="ml-1"
            color="primary"
            (click)="onAddUser()"
    ><mat-icon>person_add</mat-icon></button>
  </div>
  <mat-divider></mat-divider>
  <scr-member-list [users]="projectUsers"
                   (userRevoke)="onDeleteUser($event)"
  ></scr-member-list>
</div>
