<div class="container">
  <h5>Новая задача</h5>
  <mat-divider></mat-divider>
  <div *ngIf="form"
       class="mt-2 w-100"
       [formGroup]="form"
  >
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Название</mat-label>
      <input matInput
             placeholder="Название задачи"
             required
             formControlName="name"
      >
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Описание</mat-label>
      <textarea matInput
                placeholder="Описание задачи"
                formControlName="description"
      ></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Трудоемкость</mat-label>
      <input matInput
             type="number"
             placeholder="Трудоемкость задачи"
             formControlName="weight"
      >
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Приоритет задачи</mat-label>
      <mat-select formControlName="priority" required>
        <mat-option [value]="0">1</mat-option>
        <mat-option [value]="1">2</mat-option>
        <mat-option [value]="2">3 </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Теги</mat-label>
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let tag of task.tags"
                  [style.background-color]="tag.color"
                  removable
        >
          {{ tag.name }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input
          placeholder="Новый тег"
          #fruitInput
          formControlName="tags"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipList">
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onTagSelect($event)">
        <mat-option *ngFor="let tag of tags" [value]="tag.id">
          {{ tag.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>


    <div class="d-flex"
         [ngClass]="{
          'justify-content-between': !!task.id,
          'justify-content-end': !task.id
         }"
    >
      <button *ngIf="!!task.id"
              mat-raised-button
              color="warn"
              type="button"
              (click)="onDelete()"
      >
        Удалить задачу
      </button>
      <button mat-raised-button
              color="primary"
              type="button"
              [disabled]="!form.valid"
              (click)="onSubmit()"
      >Сохранить</button>
    </div>
  </div>
</div>
