<div class="container">
  <h5>Новый спринт</h5>
  <mat-divider></mat-divider>
  <div class="mt-2 w-100"
       *ngIf="form"
       [formGroup]="form"
  >

    <mat-form-field>
      <mat-label>Дата начала</mat-label>
      <input matInput
             [matDatepicker]="picker"
             placeholder="Выберите дату начала спринта"
             formControlName="startDate"
      >
      <mat-error *ngIf="form.controls.startDate.invalid">
        В данном проекте уже запланирован спринт на выбранную дату
      </mat-error>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <div class="my-5">
      <scr-sprint-tasks [allTasks]="allTasks"
                        [sprintTasks]="sprintTasks"
                        (sprintTasksEvent)="onNewTasks($event)"
      ></scr-sprint-tasks>
    </div>

    <div class="d-flex justify-content-end">
      <button mat-raised-button
              color="primary"
              type="button"
              [disabled]="!form.valid && !dirtyHack"
              (click)="onSubmit()"
      >Сохранить</button>
    </div>
  </div>
</div>
