mat-card {
  padding: 8px 0 8px 8px;
  margin: 4px;
}

.content {
  vertical-align: middle;
}

.actions {
  width: 36px;
}

.btn_more {
  width: 36px;
  margin: 0;
  padding: 0;
  min-width: 36px;
}

.low-priority {
  border-right: 3px solid #00a400;
}

.medium-priority {
  border-right: 3px solid #e1cf09;
}

.high-priority {
  border-right: 3px solid #cd2a28;
}

