<mat-card class="d-flex justify-content-between"
          [ngClass]="{
            'low-priority': task.priority === 0,
            'medium-priority': task.priority === 1,
            'high-priority': task.priority === 2
          }"
>
  <div class="content">
    <scr-tag-line *ngIf="task.tags.length > 0" [tags]="task.tags"></scr-tag-line>
    <span>{{ task.name }}</span>
    <div class="d-flex align-content-center">
      <span class="d-flex align-content-center">
        <mat-icon inline="true">stars</mat-icon>
        <span class="ml-1">{{ task.weight }}</span>
      </span>
      <span *ngIf="!!task.assignee" class="d-flex align-content-center ml-3">
        <mat-icon inline>person</mat-icon>
        <span class="ml-1">{{ task.assignee.username }}</span>
      </span>
    </div>
  </div>
  <div class="actions" *ngIf="hasActions">
    <button mat-button [matMenuTriggerFor]="menu" class="btn_more">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openAssignModal()">Назначить</button>
    </mat-menu>
  </div>
</mat-card>
