<div class="container">
  <div class="d-flex flex-column justify-content-center mt-5">
    <span class="d-flex justify-content-center title">404</span>
    <span class="d-flex justify-content-center">
      Данной страницы не существует.
    </span>
    <span class="d-flex justify-content-center">
      <a [routerLink]="['/']"> На главную</a>.
    </span>
  </div>
</div>
