<div class="container-fluid">
  <div class="form-block m-auto">
    <form class="form-container"
          [formGroup]="loginForm"
          (ngSubmit)="onSubmit()"
    >
      <mat-form-field appearance="outline">
        <mat-label>Имя пользователя</mat-label>
        <input
          matInput
          placeholder="Имя пользователя"
          formControlName="username"
        >
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Пароль</mat-label>
        <input
          matInput
          placeholder="Пароль"
          type="password"
          formControlName="password"
        >
        <mat-error *ngIf="loginForm.invalid">Неверные имя пользователя или пароль</mat-error>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="loginForm.invalid"
      >Login</button>

      <!-- TODO: переход на страницу регистрации -->
      <a
        mat-button
        color="accent"
        class="mt-2"
        [routerLink]="['../signup']"
      >
        Регистрация
      </a>
    </form>

  </div>
</div>
