<div class="d-flex flex-wrap">
  <ng-container *ngFor="let pColor of predefinedColors">
    <div class="color-square mr-1"
         [style.background-color]="pColor"
         [ngClass]="{'picked': pColor === color}"
         (click)="onPick(pColor)"
    ></div>
  </ng-container>
</div>
