<div class="container">
  <h5>Настройки проекта</h5>
  <mat-divider></mat-divider>
  <div *ngIf="form"
       class="mt-2 w-100"
       [formGroup]="form"
  >
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Название</mat-label>
      <input matInput
             placeholder="Название проекта"
             required
             formControlName="name"
      >
      <mat-error *ngIf="form.controls.name.invalid">
        <ng-container *ngIf="form.controls.name.errors.required; else integrityError">
          Это поле обязательно к заполнению
        </ng-container>
        <ng-template #integrityError>
          Проект с таким именем уже существует
        </ng-template>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Описание проекта</mat-label>
      <textarea matInput
                placeholder="Описание проекта"
                formControlName="description"
      ></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Продолжительность спринта (в неделях)</mat-label>
      <input matInput
             type="number"
             placeholder="Продолжительность спринта"
             formControlName="sprintLength"
      >
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Теги</mat-label>
      <mat-chip-list>
        <mat-chip *ngFor="let tag of currentProject.tags"
                  [style.background-color]="tag.color"
                  removable
                  (click)="onTagClick(tag)"
                  (removed)="onTagRemoval(tag)"
        >
          {{ tag.name }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
      <button mat-button
              matSuffix
              mat-icon-button
              (click)="onNewTag()"
      >
        <mat-icon>add</mat-icon>
      </button>
    </mat-form-field>

    <div class="d-flex justify-content-between mt-2">
      <button mat-raised-button
              color="warn"
              type="button"
              (click)="onDelete()"
      >
        Удалить проект
      </button>
      <button mat-raised-button
              color="primary"
              type="button"
              [disabled]="!form.valid"
              (click)="onSubmit()"
      >Сохранить</button>
    </div>
  </div>
</div>
