<mat-toolbar
  color="primary"
>
  <a [routerLink]="['/projects']">Scrum Board</a>

  <span class="fill-remaining"></span>

  <button *ngIf="user"
          mat-button
          [matMenuTriggerFor]="menu"
  >{{ user.username }}</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="onLogout()">Log Out</button>
  </mat-menu>
</mat-toolbar>

<router-outlet></router-outlet>
