<div class="container">
  <div class="d-flex flex-column justify-content-center mt-5">
    <span class="d-flex justify-content-center title">500</span>
    <span class="d-flex justify-content-center">
      Произошла внутренняя ошибка. Попробуйте позже или обратитесь к администратору.
    </span>
    <span class="d-flex justify-content-center">
      <a [routerLink]="['/']"> На главную</a>.
    </span>
  </div>
</div>
