<mat-nav-list>
  <a mat-list-item
     *ngFor="let task of tasks"
     [routerLink]="[task.id]"
  >
    <h4 mat-line>{{ task.name }}</h4>
    <div mat-line class="d-flex align-content-center">
      <span>{{ task.creator.username }} создал задачу {{ task.createdAt | dateDistance }}</span>
      <span class="d-flex align-content-center ml-3">
        <mat-icon class="mr-1" inline>stars</mat-icon> {{ task.weight }}
      </span>
      <div class="d-flex align-content-center ml-3">
        <scr-tag-line class="d-flex align-content-center" [tags]="task.tags"></scr-tag-line>
      </div>
    </div>
    <mat-divider
      [ngClass]="{
        'low-priority': task.priority === 0,
        'medium-priority': task.priority === 1,
        'high-priority': task.priority === 2
      }"
    ></mat-divider>
  </a>
</mat-nav-list>
