<div class="d-flex align-content-center mt-1" [style.height.em]="1">
  <div *ngFor="let tag of tags"
       [style.background-color]="tag.color"
       [style.border-color]="tag.color"
       class="tag"
  ></div>
</div>
