<h1 mat-dialog-title>Прогресс спринта</h1>
<div mat-dialog-content>
  <canvas *ngIf="data"
          baseChart
          width="800"
          height="400"
          [datasets]="data.data"
          [labels]="data.labels"
          [chartType]="'line'"
          [options]="chartOptions"
          [colors]="lineChartColors"
  ></canvas>
</div>
<div mat-dialog-actions class="d-flex justify-content-end">
    <button mat-button (click)="onCloseClick()">Закрыть</button>
</div>
