<h1 mat-dialog-title>
  <ng-container *ngIf="data.tag.id; else newTag">Изменение тега {{ data.tag.name }}</ng-container>
  <ng-template #newTag>
    Создание нового тега
  </ng-template>
</h1>
<div mat-dialog-content [formGroup]="form">
  <mat-form-field class="w-100">
    <mat-label>Название тега</mat-label>
    <input matInput
           type="text"
           formControlName="name"
    >
    <mat-error *ngIf="form.controls.name.invalid">
      Это поле обязательно к заполнению
    </mat-error>
  </mat-form-field>

  <div class="my-2">
    <label for="color_picker">Выбор цвета для тега</label>
    <scr-color-picker id="color_picker" formControlName="color"></scr-color-picker>
  </div>
</div>
<div mat-dialog-actions class="d-flex justify-content-end">
    <button mat-flat-button
            class="mr-2"
            color="primary"
            [disabled]="!form.valid"
            (click)="onSaveClick()"
    >Сохранить</button>
    <button mat-button (click)="onCloseClick()">Закрыть</button>
</div>
