<div class="d-flex flex-wrap">
  <div *ngFor="let project of projects"
       class="project text-left mr-2 mt-2"
       [ngStyle]="{
        'background-color': project.color,
        'border-color': project.color
       }"
       [routerLink]="[project.id]"
  >
    <h5>{{ project.name }}</h5>
    <p>{{ project.description }}</p>
  </div>
</div>
