.project {
  border: 1px solid black;
  border-radius: 3px;
  color: white;
  min-height: 10vh;
  padding: 1em;
  width: 15em;
}

.star-icon {
  color: white;
  cursor: pointer;
}

.star-icon:hover {
  color: #cfcfcf;
}
