<div *ngIf="board" class="cols" cdkDropListGroup>
  <mat-card class="d-col">
    <mat-card-title>To Do</mat-card-title>

    <mat-card-content>
      <div class="scrollable-content"
           cdkDropList
           [cdkDropListData]="board.todo"
           (cdkDropListDropped)="drop($event)"
      >
        <scr-board-item
          *ngFor="let task of board.todo"
          cdkDrag
          [task]="task">
        </scr-board-item>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="d-col">
    <mat-card-title>In Process</mat-card-title>
    <mat-card-content>
      <div class="scrollable-content"
           cdkDropList
           [cdkDropListData]="board.inProcess"
           (cdkDropListDropped)="drop($event)"
      >
        <scr-board-item
          *ngFor="let task of board.inProcess"
          cdkDrag
          [task]="task">
        </scr-board-item>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="d-col">
    <mat-card-title>Testing</mat-card-title>
    <mat-card-content>
      <div class="scrollable-content"
           cdkDropList
           [cdkDropListData]="board.testing"
           (cdkDropListDropped)="drop($event)"
      >
        <scr-board-item
          *ngFor="let task of board.testing"
          cdkDrag
          [task]="task">
        </scr-board-item>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="d-col">
    <mat-card-title>Done</mat-card-title>
    <mat-card-content>
      <div class="scrollable-content"
           cdkDropList
           [cdkDropListData]="board.done"
           (cdkDropListDropped)="drop($event)"
      >
        <scr-board-item
          *ngFor="let task of board.done"
          cdkDrag
          [task]="task">
        </scr-board-item>
      </div>
    </mat-card-content>
  </mat-card>
</div>
