.cols {
  display: flex;
}

mat-card.d-col {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 96px);
  margin: 0 4px;
  padding: 1.5em 0.8em;
  vertical-align: top;
  width: 300px;
}

mat-card mat-card-title {
  flex: 0 1 auto;
}

mat-card mat-card-content {
  display: flex;
  flex-grow: 1;
}

.scrollable-content {
  max-height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.scrollable-content::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

.scrollable-content::-webkit-scrollbar-thumb {
  background-color: #b4b4b4;
}
