<div class="container mt-2">
  <h5>Новый проект</h5>
  <mat-divider></mat-divider>
  <div class="mt-2 w-100"
       [formGroup]="form"
  >

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Название</mat-label>
      <input matInput
             placeholder="Название проекта"
             formControlName="name"
      >
      <mat-error *ngIf="form.controls.name.invalid">
        <ng-container *ngIf="form.controls.name.errors.required; else integrity">
          Это поле обязательно к заполнению
        </ng-container>
        <ng-template #integrity>
          Проект с таким названием уже существует
        </ng-template>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Описание</mat-label>
      <textarea matInput
                placeholder="Описание проекта"
                formControlName="description"
      ></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Длина спринта (в неделях)</mat-label>
      <input matInput
             type="number"
             formControlName="sprintLength"
      >
      <mat-error *ngIf="form.controls.sprintLength.invalid">
        <ng-container *ngIf="form.controls.sprintLength.errors.required; else minValue">
          Это поле обязательно к заполнению
        </ng-container>

        <ng-template #minValue>
          Значение не может быть меньше 1
        </ng-template>
      </mat-error>
    </mat-form-field>

    <div class="my-2">
      <label for="color-picker">Выбор цветов</label>
      <scr-color-picker id="color-picker" formControlName="color"></scr-color-picker>
    </div>

    <div class="d-flex justify-content-end">
      <button mat-raised-button
              color="primary"
              type="button"
              [disabled]="!form.valid"
              (click)="onSubmit()"
      >Сохранить</button>
    </div>
  </div>
</div>
