<div class="container">
  <div class="d-flex align-content-center mb-2 justify-content-between">
    <h3 class="mb-1">Спринты</h3>
    <button mat-flat-button
            class="ml-1"
            color="primary"
            [routerLink]="['../new_sprint']"
    >Создать новый спринт</button>
  </div>
  <scr-sprints-list [sprints]="sprints"></scr-sprints-list>
</div>
