<mat-list>
  <mat-list-item *ngFor="let user of users">
    <button *ngIf="user.role != 'owner'"
            mat-flat-button
            color="warn"
            (click)="userRevoke.emit(user.id)"
    ><mat-icon>delete</mat-icon></button>
    <h3 matLine>{{ user.username }}</h3>
    <span matLine>{{ user.role === 'owner' ? 'Владелец' : 'Разработчик' }}</span>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>
