<h1 mat-dialog-title>Выбор ответственного</h1>
<div mat-dialog-content>
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Ответственный пользователь</mat-label>
    <mat-select [(value)]="data.selectedUser">
      <mat-option *ngFor="let user of users"
                  [value]="user.id"
      >
        {{ user.username }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions class="d-flex justify-content-between">
  <button mat-button
          class="mr-2"
          [mat-dialog-close]="0"
  >Назначить меня</button>
  <div>
    <button mat-flat-button
            class="mr-2"
            color="primary"
            [mat-dialog-close]="data.selectedUser"
    >Сохранить</button>
    <button mat-button (click)="onCloseClick()">Закрыть</button>
  </div>
</div>
