<mat-nav-list>
  <a mat-list-item
     *ngFor="let sprint of sprints"
     [routerLink]="[sprint.id]"
  >
    <h5 mat-line>
      Спринт #{{ sprint.id }}
      <button mat-flat-button
              color="accent"
              (click)="onShowChart(sprint.id, $event)"
      >
        <mat-icon>show_chart</mat-icon>
      </button>
    </h5>
    <p mat-line>с {{ sprint.startDate | date:'dd.MM.yyyy' }} по {{ sprint.endDate | date:'dd.MM.yyyy' }}</p>
    <mat-divider></mat-divider>
  </a>
</mat-nav-list>
