<div class="container">
  <div class="d-flex align-content-center mb-2 justify-content-between">
    <h3 class="mb-1">Беклог</h3>
    <button mat-flat-button
            class="ml-1"
            color="primary"
            [routerLink]="['../new_task']"
    >Создать новую задачу</button>
  </div>
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <span [matBadge]="activeTasks.length"
              [matBadgeOverlap]="false"
              matBadgeColor="accent"
        >
          Активные
        </span>
      </ng-template>
      <scr-backlog-list [tasks]="activeTasks"></scr-backlog-list>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <span [matBadge]="inProcessTasks.length"
              [matBadgeOverlap]="false"
              matBadgeColor="warn"
        >
          В работе
        </span>
      </ng-template>
      <scr-backlog-list [tasks]="inProcessTasks"></scr-backlog-list>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <span [matBadge]="doneTasks.length"
              [matBadgeOverlap]="false"
        >
          Завершенные
        </span>
      </ng-template>
      <scr-backlog-list [tasks]="doneTasks"></scr-backlog-list>
    </mat-tab>
  </mat-tab-group>
</div>
