<div class="cols" cdkDropListGroup>
  <mat-card class="d-col">
    <mat-card-title>Все задачи</mat-card-title>

    <mat-card-content>
      <div class="scrollable-content"
           cdkDropList
           [cdkDropListData]="allTasks"
           (cdkDropListDropped)="drop($event)"
      >
        <scr-board-item
          *ngFor="let task of allTasks"
          cdkDrag
          [task]="task">
        </scr-board-item>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="d-col">
    <mat-card-title>Задачи в этом спринте</mat-card-title>
    <mat-card-content>
      <div class="scrollable-content"
           cdkDropList
           [cdkDropListData]="sprintTasks"
           (cdkDropListDropped)="drop($event)"
      >
        <scr-board-item
          *ngFor="let task of sprintTasks"
          cdkDrag
          [task]="task">
        </scr-board-item>
      </div>
    </mat-card-content>
  </mat-card>
</div>
