<h1 mat-dialog-title>Добавление пользователя в проект</h1>
<div mat-dialog-content>
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Новый пользователь</mat-label>
    <mat-select [(value)]="selectedUser">
      <mat-option *ngFor="let user of users"
                  [value]="user.id"
      >
        {{ user.username }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions class="d-flex justify-content-end">
  <button mat-flat-button
          class="mr-2"
          color="primary"
          [mat-dialog-close]="selectedUser"
  >Сохранить</button>
  <button mat-button (click)="onCloseClick()">Закрыть</button>
</div>
