.container-fluid {
  background-color: #3F51B5;
  height: 100%;
  padding-top: 5em;
}

.form-block {
  background-color: white;
  border: 1px solid white;
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding: 1em;
  width: 20vw;
}

.form-container {
  display: flex;
  flex-direction: column;
}
