<div class="container-fluid">
  <div class="form-block m-auto">
    <form class="form-container"
          [formGroup]="form"
          (ngSubmit)="onSubmit()"
    >
      <mat-form-field appearance="outline">
        <mat-label>Имя пользователя</mat-label>
        <input
          matInput
          placeholder="Имя пользователя"
          formControlName="username"
        >
        <mat-error *ngIf="form.controls.password.invalid">
          <ng-container *ngIf="form.controls.password.errors?.required; else minLength">
            Это поле обязательно к заполнению
          </ng-container>

          <ng-template #minLength>
            Слишком короткий пароль (мин. 6 символов)
          </ng-template>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Пароль</mat-label>
        <input
          matInput
          placeholder="Пароль"
          type="password"
          formControlName="password"
        >
        <mat-error *ngIf="form.controls.password.invalid">
          <ng-container *ngIf="form.controls.password.errors?.required; else minLength">
            Это поле обязательно к заполнению
          </ng-container>

          <ng-template #minLength>
            Слишком короткий пароль (мин. 6 символов)
          </ng-template>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Повторите пароль</mat-label>
        <input
          matInput
          placeholder="Повторите пароль"
          type="password"
          formControlName="passwordRepeat"
        >
        <mat-error *ngIf="form.controls.passwordRepeat.invalid">
          <ng-container *ngIf="form.controls.passwordRepeat.errors?.required; else notMatch">
            Это поле обязательно к заполнению
          </ng-container>

          <ng-template #notMatch>
            Пароли не совпадают
          </ng-template>
        </mat-error>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="form.invalid"
      >Зарегистрироваться</button>

      <a
        mat-button
        color="accent"
        class="mt-2"
        [routerLink]="['../login']"
      >
        Логин
      </a>
    </form>

  </div>
</div>
