<div class="container-fluid d-flex justify-content-center align-content-center h-100">
  <scr-board *ngIf="currentSprint; else noCurrentSprint"
             [board]="board"
             (boardUpdate)="onNewBoard($event)"
  ></scr-board>

  <ng-template #noCurrentSprint>
    <h5>В данный момент не проходит ни один спринт.</h5>
  </ng-template>
</div>
