<mat-sidenav-container class="container-fluid px-0" style="height: calc(100% - 64px)">
  <mat-sidenav mode="side"
               opened
               class="menu"
  >
    <div class="d-flex flex-column h-100 px-2">
      <mat-nav-list>
        <a mat-list-item
           [routerLink]="['./']"
        >
          <span mat-line class="d-flex align-content-center">
            <mat-icon inline class="mr-2">event_available</mat-icon>
            Текущий спринт
          </span>
          <mat-divider></mat-divider>
        </a>
        <a mat-list-item
           routerLinkActive="active"
           [routerLink]="['backlog']"
        >
          <span mat-line class="d-flex align-content-center">
            <mat-icon inline class="mr-2">storage</mat-icon>
            Беклог
          </span>
          <mat-divider></mat-divider>
        </a>
        <a mat-list-item
           routerLinkActive="active"
           [routerLink]="['sprints']"
        >
          <span mat-line class="d-flex align-content-center">
            <mat-icon inline class="mr-2">event_note</mat-icon>
            Спринты
          </span>
          <mat-divider></mat-divider>
        </a>
        <a mat-list-item
           routerLinkActive="active"
           [routerLink]="['members']"
        >
          <span mat-line class="d-flex align-content-center">
            <mat-icon inline class="mr-2">people</mat-icon>
            Участники
          </span>
          <mat-divider></mat-divider>
        </a>
        <a mat-list-item
           routerLinkActive="active"
           [routerLink]="['settings']"
        >
          <span mat-line class="d-flex align-content-center">
            <mat-icon inline class="mr-2">settings</mat-icon>
            Настройки
          </span>
        </a>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="p-3">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
