.menu {
  background-color: #3F51B5;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  color: white;
  width: 12vw;
}

.mat-nav-list a.active {
  background-color: #3949AB;
  color: white;
  transition: background-color 0.15s;
}

.mat-nav-list a {
  color: white;
}

.mat-nav-list a.active:hover {
  background-color: #3F51B5;
  color: white;
  transition: background-color 0.15s;
}
