<div class="container mt-2">
  <ng-container *ngIf="hasFavorite()">
    <h5>Основные проекты</h5>
    <scr-projects-list [projects]="favoriteProjects"></scr-projects-list>
  </ng-container>

  <div class="d-flex align-content-center mb-2">
    <h5 class="mb-0 mt-1">Ваши проекты</h5>
    <button mat-button
            class="ml-1"
            color="primary"
            [routerLink]="['create_project']"
    >Создать новый</button>
  </div>
  <scr-projects-list [projects]="projects"
                     (favoriteEvent)="onFavorite($event)"
  ></scr-projects-list>
</div>
